<!-- Template to display two graphs side by side for player comparison -->


{% extends "base_template.html" %}

{% block title %} Shot chart {% endblock %}

{% block main %}

<!-- <h1> {{ s1 }} </h1> -->

<div class="row">
	<div class="column"> 

		<div> 
			<label>
				<img src="{{ p1_img }}"></img>
				<img src="{{ graph1 }}"></img>
			</label>
		</div>

		<div> 
			<label>
				<img src="{{ p2_img }}"></img>
				<img src="{{ graph2 }}"></img>
			</label>
		</div>

	</div>

</div>

<!--<h1> {{ s2 }} </h1> -->

<div>
	<a href="/" style="position: fixed; bottom: 10px; right: 0px">Back to comparison page</a>
</div>

{% endblock %}