<!-- Template to display two graphs side by side for player comparison -->


{% extends "base_template.html" %}

{% block title %} Shot chart {% endblock %}

{% block main %}

<div class="container"> 
	<div class="row">
		<div class="col"> 

			<div> 
				<label>
					<h1> {{ s1 }} </h1>
					<img src="{{ p1_img }}"></img>
					<img src="{{ graph1 }}"></img>
				</label>
			</div>

			<div> 
				<label>
					<h1> {{ s2 }} </h1>
					<img src="{{ p2_img }}"></img>
					<img src="{{ graph2 }}"></img>
				</label>
			</div>

			<div>
				<a href="/">Back to comparison page</a>
			</div>

		</div>
	</div>
</div>

{% endblock %}