<!-- Template to display the single player search page, i.e. opening page -->


{% extends "base_template.html" %}

{% block title %}Visualize individual shot charts{% endblock %}

{% block main %}
<a href="/compare"><font color="blue">Player comparison</font></a>

<div class="container"> 
	<div class="row">
		<div class="col"> 

			<title Visualize individual shot charts!></title>
			<hr>

			<form name="myForm" action="/" method="POST" onsubmit="">

				<div class="form-group">
					<label> Name of the player as firstname lastname</label>
					<input class="form-control" type="text" name="player" />
				</div>

				<div class="form-group">
					<label> Season as yyyy-yy</label>
					<input class="form-control" type="text" name="season" />
				</div>

				<div class="form-group">
					<input type="radio" name="map_type" value="heatmap"> Heatmap <br>
					<input type="radio" name="map_type" value="scatterplot"> Scatterplot <br>
				</div>

				<div class="form-group">
					<label> <b> <font color="red">Do you want to filter out restricted area shots in your heatmap?</font></b></label><br>
					<input type="radio" name="filter" value="yes"> Yes <br>
					<input type="radio" name="filter" value="no"> No <br>
				</div>

				<button type="submit" class="btn btn-primary" name="go" value="get_chart"> Visualize </button><br>

			</form>

		</div>
	</div>
</div>
{% endblock %}