<!-- Template to display two graphs side by side for player comparison -->



{% extends "base_template.html" %}

{% block title %} Shot chart {% endblock %}

{% block main %}

<div class="container"> 
	<div class="row">
		<div class="col"> 

			<div> 
				<label>
					<h1> {{ p1 }} in {{ s1 }} </h1>
					<img src="{{ graph1 }}"></img>
				</label>
			</div>

			<div> 
				<label>
					<h1> {{ p2 }} in {{ s2 }}</h1>
					<img src="{{ graph2 }}"></img>
				</label>
			</div>

		</div>
	</div>
</div>

{% endblock %}